<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Streaming Electron</title>
    <link href="~/static/css/main.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_PageHeader")

    <div>
        @RenderBody()
    </div>

    @Html.Partial("_Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
