<header class="row se-header">
    <div class="large-5 columns">
        <span class="sitelogo">{Streaming Electron}</span>
    </div>
    <div class="large-1 columns login">
        <a hreh="#">Log in</a>
    </div>
</header>