@model WebApp.ViewModels.StartViewModel

<div class="row xy-center">
    <div class="large-8 columns">
        <input type="text" />
    </div>
    <div class="large-4 columns">
        <input type="button" value="submit" class="button" />
    </div>
</div>